<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Hola mundo!</title>
  </head>
  <body>
    <h1>Hola mundo!</h1>
    <p>Esta es la vista de la portada</p>
  </body>
</html>