<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Hola mundo! - saludar</title>
  </head>
  <body>
    <h1>Hola {{ nombre }}</h1>
    <p>Bienvenido al primer ejemplo de Symfony</p>
  </body>
</html>